<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spaza Suggestion</title>
</head>
<body>
<h1>
Spaza Suggestions
    <br>
<!--register button-->
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
    <br>
    <a href="/registerspaza">Register Spaza</a>
</h1>
<script src="/setTimeout.js"></script>
</body>
</html>
